/* @media screen and (width >=80rem) {
    .container {
        margin: 1em 2em;
    }
} */

html, body {
    box-sizing:border-box;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 5;
    padding: 5;
    background-color: black;

}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100vw;
    height: 100vh;
}


.h1 {
    position: absolute;
    left: 25%;
    top: -90%;
    font-family: "cy", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20em;
    /* line-height: 200%; */
    text-align: center;
    color:#6A102F;
    /* width: 50vw; */
}

.h4 {
    position: absolute;
    left: 21%;
    top: 64%;
    font-family: "cy", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#ece8d1;
    font-size: 200%;
    text-align: right;

}

a {
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250%;
    position: absolute;
    right: 10%;
    color:#ece8d1;
    text-align: right;
    top: 80%;
    text-decoration: none;
}





