@media (min-width: 600px) {
    .content-grid {
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

 html, body {
    box-sizing:border-box;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2;
    background-color: #092d36;

}

.container {
    width: min(50rem, 100% - 2rem);
    margin-inline: auto;
}

.flex-container {
    display: flex;
    flex-direction:column;
}

.content-grid {
    max-inline-size: 1200px;
    padding-inline: 2rem;
    margin-inline: auto;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100vw;
    height: 100vh;
}

.paragraph {
    position: absolute;
    left: 10%;
    top: 7%;
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1em;
    text-align: left;
    color:#ece8d1;
    max-width: 35%;
}

.r {
    position: absolute;
    left: 59%;
    top: -73%;
    font-family: "cy", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#61b2ab;
    font-size: 26em;
    text-align: left;

}

.k {
    position: absolute;
    left: 55%;
    top: -50%;
    font-family: "cy", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#61b2ab;
    font-size: 26em;
    text-align: left;
}

.x {
    position: absolute;
    left: 65.6%;
    top: -22%;
    font-family: "cy", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#61b2ab;
    font-size: 26em;
    text-align: left;
}

.t {
    position: absolute;
    left: 67%;
    top: -67%;
    font-family: "cy", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#61b2ab;
    font-size: 26em;
    text-align: left;
}

.z {
    position: absolute;
    left: 75.5%;
    top: -50%;
    font-family: "cy", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#61b2ab;
    font-size: 26em;
    text-align: left;
}

.v {
    position: absolute;
    left: 75%;
    top: -78.2%;
    font-family: "cy", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#61b2ab;
    font-size: 26em;
    text-align: left;
    display: inline-block;
}

a {
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250%;
    position: absolute;
    right: 10%;
    color:#ece8d1;
    text-align: right;
    top: 80%;
    text-decoration: none;
}
