@media (min-width: 600px) {
    .content-grid {
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

 html, body {
    box-sizing:border-box;
    overflow:hidden;
    display:flex;
    justify-content: left;
    background-color:black;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction:column;
}

.content-grid {
    max-inline-size: 1200px;
    padding-inline: 2rem;
    margin-inline: auto;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100vw;
    height: 100vh;
}

.h1 {
    position: absolute;
    left: .5%;
    top: -35%;
    font-family: "cy", sans-serif;
    font-weight: 900;
    font-style: oblique;
    font-size: 155px;
    text-align: center;
    color:#6a102f;
    max-width: 100%;
}

.h3 {
    position: absolute;
    left: 69%;
    top: 34%;
    font-family: "cy", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color:#ece8d1;
    max-width: 100%;
}

.quote1 {
    position: absolute;
    left: 2%;
    top: 45%;
    font-family: "cy", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    color:#ece8d1;
    max-width: 25%;
}

.quote2 {
    position: absolute;
    left: 69%;
    top: 68%;
    font-family: "cy", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    color:#ece8d1;
    max-width: 26%;
}

.quote3 {
    position: absolute;
    left: 35%;
    top: 58%;
    font-family: "cy", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    color:#ece8d1;
    max-width: 28%;
}

a {
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250%;
    position: absolute;
    right: 10%;
    color:#ece8d1;
    text-align: right;
    top: 80%;
    text-decoration: none;
}
