@media (min-width: 600px) {
    .content-grid {
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

 html, body {
    box-sizing:border-box;
    overflow:hidden;
    display:flex;
    justify-content: left;
    background-color:black;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction:column;
}

.content-grid {
    max-inline-size: 1200px;
    padding-inline: 2rem;
    margin-inline: auto;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100vw;
    height: 100vh;
}

.h1 {
    position: absolute;
    left: 50%;
    top: 2%;
    font-family: "cy", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 40px;
    text-align: right;
    color:#6a102f;
    max-width: 40%;
}

.h3 {
    position: absolute;
    left: 73%;
    top: 65%;
    font-family: "cy", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: right;
    color:#ece8d1;
    max-width: 100%;
}

.quote {
    position: absolute;
    left: 5%;
    top: 10%;
    font-family: "cy", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color:#ece8d1;
    max-width: 32%;
}



a {
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250%;
    position: absolute;
    right: 10%;
    color:#ece8d1;
    text-align: right;
    top: 80%;
    text-decoration: none;
}

