@media (min-width: 600px) {
    .content-grid {
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

 html, body {
    box-sizing:border-box;
    overflow:hidden;
    display:flex;
    justify-content: left;
    background-color:#092d36;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction:column;
}

.content-grid {
    max-inline-size: 1200px;
    padding-inline: 2rem;
    margin-inline: auto;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100vw;
    height: 100vh;
}

.display1 {
    position: absolute;
    left: 5%;
    top: -30%;
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12em;
    text-align: left;
    color:#ece8d1;
    max-width: 35%;
}

.display2 {
    position: absolute;
    left: 5%;
    top: -1%;
    font-family: "cy", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13em;
    text-align: left;
    color:#61b2ab;
}

.display3 {
    position: absolute;
    left: 5%;
    top: 35%;
    font-family: "cy", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 11em;
    text-align: left;
    color:black;
}
.caption {
    position:absolute;
    left: 5.9%;
    top: 22%;
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    text-align: left;
    color:#ece8d1;
}

.caption2 {
    position:absolute;
    left: 5.9%;
    top: 55%;
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    text-align: left;
    color:#ece8d1;
}

.caption3 {
    position:absolute;
    left: 5.9%;
    top: 89%;
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    text-align: left;
    color:#ece8d1;
}

a {
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250%;
    position: absolute;
    right: 10%;
    color:#ece8d1;
    text-align: right;
    top: 80%;
    text-decoration: none;
}

figure {
    padding: 4px;
    margin: auto;
}

figcaption {
    padding: 2px;
    text-align: left;
}