@media (min-width: 600px) {
    .content-grid {
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

 html, body {
    box-sizing:border-box;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2;
    background-color:#6a102f;

}

.container {
    width: min(50rem, 100% - 2rem);
    margin-inline: auto;
}

.flex-container {
    display: flex;
    flex-direction:column;
}

.content-grid {
    max-inline-size: 1200px;
    padding-inline: 2rem;
    margin-inline: auto;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
}

* {
    box-sizing: border-box;
}

.image {
    position: absolute;
    left: 1%;
    top: 0%;
}

a {
    font-family: "cy", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250%;
    position: absolute;
    right: 10%;
    color:#ece8d1;
    text-align: right;
    top: 80%;
    text-decoration: none;
}
